[submodule "ttgoDriver"]
	path = ttgoDriver
	url = https://github.com/rdorbolo/esp32-ttg0-display.git
  
[submodule "esp32-ttg0-display"]
	path = esp32-ttg0-display
	url = https://github.com/rdorbolo/esp32-ttg0-display.git
